@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F9FAF8;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

ul {
    display: flex;
    gap: 16px;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.navbar,
.header {
    background: #1F2937;
}


.navbar .container {
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 230px;
    width: 500px;
}

header .container {
    height: 350px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 48px;
    font-weight: 900;
}

header p {
    color: #E5E7EB;
}

header button {
    background: #3882F6;
    border-style: none;
    margin-top: 10px;
    padding: 6px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.boxes {
    margin-top: -100px;
    height: 600px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.box {
    width: 200px;
    height: 200px;
    text-align: center;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

section img {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

section h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.quote-box {
    background: #E5E7EB;
    height: 400px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box p {
    align-self: auto;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 60px;
}

.quote-d {
    display: flex;
    flex-direction: column;
    width: 850px;
}

.quote {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 36px;
    font-style: italic;
}

.action-box {
    margin: 0 auto;
    padding: 0 30px;
    background: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 1140px;
}

.action-box button {
    background: #3882F6;
    border-style: none;
    border: 1px solid white;
    margin-top: 10px;
    padding: 6px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.action-box h3 {
    font-weight: 600;
}

.action-box p {
    font-weight: 100;
    color: #E5E7EB;
}